<div class="jumbotron">
	<h1>Nowy użytkownik</h1>
	<%= form_for(:user, :url=> {:action => 'create'}) do |field| %>
	<%= render(:partial => "form", :locals => {:field => field}) %> <!-- partial - dla szablonow czesciowych, locals - przekazywanie zmiennych lokalnych, odwolanie sie do zmiennej field i przekazanie jej do generowanego tutaj widoku(render) -->
	<div class="text-center">
		<%= submit_tag("Utwórz", :class=>'btn btn-success') %>
		<%= link_to("powrót", {:action=>'index'}, :class=>'btn btn-default')%>
	</div>
	<% end %>
</div>
