<div class="jumbotron">
	<h1>Nowa strona</h1>
	<%= form_for(:page, :url=> {:action => 'create', :category_id => @categories.id}) do |field| %>
	<%= render(:partial => "form", :locals => {:field => field}) %>
	<div class="text-center">
		<%= submit_tag("Utwórz", :class=>'btn btn-success') %>
		<%= link_to("powrót", {:action=>'index', :category_id => @categories.id}, :class=>'btn btn-default')%>
	</div>
	<% end %>
</div>
